.rh-case-gallery {
  background-color: #f0f7ff;
  padding: 4.8rem 0 5.2rem;

  @include md-up {
    padding: 6rem 0 6.5rem;
  }

  @include lg-up {
    padding: 7.8rem 0 8.4rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--Black);
    margin: 0;

    @include md-up {
      font-size: 3.6rem;
    }

    @include lg-up {
      font-size: 4rem;
      line-height: 1.25;
    }
  }

  &__subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--Primary);
    margin: 0;

    @include md-up {
      font-size: 1.6rem;
    }

    @include lg-up {
      font-size: 2rem;
    }
  }

  &__slider {
    .embla__viewport {
      overflow: hidden;
      width: calc(100% + 2rem);
      @include lg-up{
        width: 100%;
      }
    }

    .embla__buttons {
      justify-content: flex-start;
      margin: 1.2rem 0 0;

      @include lg-up {
        margin-top: 1.6rem;
      }
    }
  }

  &__card {
    width: 100%;
    border-radius: 1.2rem;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__divider {
    height: 0.1rem;
    width: 100%;
    background-color: #d9d9d9;
  }

  .btns-wrp {
    justify-content: flex-start;
    margin-top: 1.2rem;
  }
}
