.rn-rhinoplasty {
  background-color: var(--Secondary);
  padding: 4rem 0 5rem;

  @include md-up {
    padding: 5rem 0 6rem;
  }

  @include lg-up {
    padding: 7rem 0 8rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "lists"
      "cta";
    grid-auto-flow: row;
    gap: 2.4rem;

    @include lg-up {
      grid-template-columns: minmax(0, 0.6fr) minmax(0, 1fr);
      grid-template-areas:
        "title lists"
        "cta cta";
      column-gap: 6rem;
      row-gap: 4rem;
      align-items: start;
    }
  }

  &__title {
    grid-area: title;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--Black);
    margin: 0;

    @include md-up {
      font-size: 3.2rem;
    }

    @include lg-up {
      font-size: 4rem;
    }
  }

  &__lists {
    grid-area: lists;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include lg-up {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 6rem;
      row-gap: 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1.2rem;

    @include lg-up {
      gap: 1.6rem;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    font-size: 1.4rem;
    line-height: 1.7;
    color: var(--Black);

    @include md-up {
      font-size: 1.6rem;
    }

    @include lg-up {
      font-size: 2rem;
      line-height: 1.8;
    }
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.2rem;
    flex-shrink: 0;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6297 0.5L6.9102 13.0265C6.75649 13.3028 6.51494 13.4871 6.27339 13.5178C6.00988 13.5178 5.76833 13.4257 5.59266 13.1493L3.83594 10.6932' stroke='%239E5D37' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.50839 13.2111C3.35468 13.4567 3.11313 13.5796 2.89354 13.5796C2.65199 13.5796 2.4324 13.4567 2.25672 13.2111L0.5 10.7856' stroke='%239E5D37' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.2011 0.562256L5.41406 9.46591' stroke='%239E5D37' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include lg-up {
      margin-top: 0.8rem;
      width: 1.7rem;
      height: 1.7rem;
    }
  }

  &__cta {
    grid-area: cta;

    @include lg-up {
      margin-top: 0;
    }
  }
  .rn-pricing-comparison__cta-banner{
    @include lg-up {
      margin-top: 1rem;
    }
    margin-top: 0;
  }
}